
/* ----relative工具 ----*/


.relative-contain {
  position: relative;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.top-middle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.middle-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottom-middle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.inline-block {
  display: inline-block;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.relative-contain::after {
  content: "";
  clear: both;
  display: table;
}
